{% extends "base.html" %}

{% load staticfiles %}


{% block content %}
<main role="main">

<div class="jumbotron text-center">
  <div class="container">
    <div class="alert alert-success" role="alert"> 
      {% if user.is_authenticated %}
      <h4> - 管理你的分院 - </h4>
      <ul>
        {% for branch in object_list %}

          {% if user.username == branch.b_name %}
          <li><a href="/schedule/{{branch.id}}/bybranch/">{{branch.b_name}}</a>
          </li>
          {% endif %}

        {% endfor %}    
      </ul>

      {% else %}
      <h4> - 管理你的分院 - </h4>

      <a class="btn btn-success btn-lg btn-block" href="{% url 'account:user_login' %}">点此登录</a>

      {% endif %}
    </div>
  </div>
</div>

<div class="jumbotron text-center">
  <div class="container">
    <div class="alert alert-primary" role="alert">
      <h4> - 浏览各分院排班 - </h4>
        <ul>
        {% for branch in object_list %}

          <li>
            <a href="/schedule/{{branch.id}}/bybranch/">{{branch.b_name}}</a>
          </li>

        {% endfor %}    
        </ul>
    </div>
  </div>
</div>

</main>

{% endblock %}